
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 12%, #E0C3FC 38%, #ffffff 62%);


}
.navContainer{
    width: 100vw;
    min-height: 60px;
    background: #020024;
    background: linear-gradient(131deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}
nav{
    width: 100%;
}
#navList{
    padding: 20px;
    list-style: none;  
    font-size: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   }

#navLogo{
    font-size: 2rem;
    color: white;
}
a{
    text-decoration: none;
    color: azure;
}
#navMenu{
    display: flex;
    gap:40px;
   
}
.footerbox{
    background: #020024;
    background: linear-gradient(131deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
   
    min-height: 25px;
    text-align: center;
}
.footerbox p{
    color: azure;
    font-size: 1.2rem;
}
.contentbox{
  width: 60%;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 3rem;
  box-shadow: 1px 1px 30px rgb(0, 0, 0);
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightBox{
    position: relative;
    overflow: hidden;
    transition: all 1s linear 0s ;
    filter: drop-shadow( 1px 1px 10px black);
    height: 300px;
}
.rightBox img{
    height: 100%;
    border-radius: 20px;
    
}
.rightBox:hover{
    transform: scale(1.2);
    
   
}
.rightBox .overlay{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 37, 37, 0.792);
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s linear 0s;

}
.rightBox:hover .overlay{
    opacity: 1;
}

.rightBox .overlay span{
    color: white;
}

.ingBox{
    font-size: 1.1rem;
}

.recepiBox{
    font-size: 1.1rem;
}
.leftBox h2{
    font-size: 1.8rem;
}
body{
    overflow-x: hidden;
}